* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: linear-gradient(90deg, white, lightpink, red);
    background-image: url('../images/clean-kitchen-workplace.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    justify-content: center;
    padding-top: 10px;
    align-items: left;
}

.image-header {
    margin: 0 auto;
}

main ul {
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 25px;
}

a:hover {
    color: red;
    font-weight: bold;
}

h1 {
    background-color: black;
    color: white;
    font-size: 28px;
    font-weight: 800;
    padding: 10px;
}

fieldset {
    padding: 10px;
}

li {
    margin-bottom: 10px;
    font-style: italic;
    font-weight: bold;
}

img {
    border: 10px solid black;
}

.recipes p {
    background-color: white;
    opacity: 70%;
    padding: 5px;
}

/*Lasagna Page*/

.food-images {
    width: 400px;
}

.recipe-containers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    padding-top: 10px;
    width: 40%;
}

.recipe-containers ul {
    list-style:circle;
}

.recipe-containers div {
    text-align: left;
    padding-bottom: 10px;
}

.recipe-containers li {
    background-color: white;
    opacity: 70%;
    font-weight: 800;
    padding: 5px;
}

.return-page {
    text-align: center;
}

.return-page a {
    font-size: 18px;
    color: blue;
    padding-bottom: 20px;
    margin-top: 20px;
}


